@model IEnumerable<WebApplication.Models.ChuongTrinhDaoTao>

@{
    ViewBag.Title = "ListCTDaoTao";
    Layout = "~/Views/Shared/Faculty_Layout.cshtml";
}
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="page-title" style="font-family:Roboto">&emsp;CHƯƠNG TRÌNH ĐÀO TẠO</h4>
            <div class="page-title-right">
                <input type="file" id="file" style="display:none;" />
                <button type="button" id="button" name="button" value="Upload" class="btn btn-secondary btn-rounded" data-toggle="modal" data-target="#exampleModal">
                    <i class="mdi mdi-microsoft-excel"></i> Import
                </button>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->
<div class="row">
    <div class="col-xl-12">
        <div class="card-box taskboard-box">
            <ul class="sortable-list list-unstyled taskList" id="upcoming">
                @foreach (var item in Model)
                {
                    <li>
                        <div class="kanban-box">
                            <div class="kanban-detail">
                                <h5 class="mt-0" style="font-family: Roboto;"><a href="#" style="color: black;">CTĐT Ngành @item.NganhDaoTao.ChuongTrinhDaoTaos - Khóa @item.KhoaDaoTao.Khoa</a></h5>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="font-family: Roboto;">Thêm mới chương trình đào tạo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Khóa:</label>
                        <select class="form-control">
                            <option selected>Chọn khóa</option>
                            <option>K27</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Ngành:</label>
                        <select class="form-control">
                            <option selected>Chọn ngành</option>
                            <option>Công nghệ thông tin</option>
                            <option>Kỹ thuật phần mềm</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Học kỳ:</label>
                        <select class="form-control">
                            <option selected>Chọn học kỳ</option>
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div>
                    <div class="file-upload-wrapper">
                        <input type="file" id="input-file-now" class="dropify" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary"><a href="import-details.html" style="color: white;">Import</a></button>
            </div>
        </div>
    </div>
</div>