@model WebApplication.Models.KhoaDaoTao

@{
    ViewBag.Title = "DeleteKhoa";
    Layout = "~/Views/Shared/Faculty_Layout.cshtml";
}
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>


<h2 class="page-title" style="font-family:Roboto">
    Xóa Khóa @Model.Khoa
</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Khóa: @Html.DisplayFor(model => model.Khoa)
        </dt>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa Khóa" class="btn btn-secondary btn-rounded" />
            <input type="submit" value="Trở về" class="btn btn-secondary btn-rounded" formaction="@Url.Action("ListKhoaDT")" />
        </div>
    }
</div>
