@model IEnumerable<WebApplication.Models.Lop>

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Faculty_Layout.cshtml";
}

<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-flex align-items-center justify-content-between">
                        <h4 class="page-title" style="font-family:Roboto">Danh sách sinh viên</h4>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->
            <form action="" method="post">
                <button class="btn btn-primary" type="submit">
                    Import
                </button>
            </form>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-centered mb-0">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Lớp</th>
                                            <th>Chủ nhiệm lớp</th>


                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ID)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TenLop)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.GiangVien.TenGV)
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div> <!-- end .table-responsive-->
                        </div> <!-- end card-body -->
                    </div> <!-- end card -->
                </div> <!-- end col -->
            </div> <!-- end row -->
        </div> <!-- container-fluid -->

    </div> <!-- content -->
    <!-- Footer Start -->
    <footer class="footer">
    </footer>
    <!-- end Footer -->

</div>